.login {
  display: flex;
}

.login__left {
  flex: 0.6;
  min-height: 100vh;
  position: relative;
}

.login__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login__right {
  flex: 0.4;
  margin: 2rem;
}

.login__right .icon {
  font-size: 3rem;
  color: var(--color-blue);
  margin-bottom: 3rem;
}

.login__right h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
  font-weight: 800;
}

.login__right h3 {
  font-size: 1.7rem;
  font-weight: 800;
}

.login__btns {
  width: 60%;
}

.login__btns div {
  width: 100%;
}

.login__btns div button:first-child {
  border: 1px solid lightgrey;
  outline: none;
  background-color: transparent;
  color: #000;
  padding: 0.5rem 0;
  border-radius: 3rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  gap: 5px;
  margin-top: 2rem;
  width: 100%;
}

.login__btns div button:first-child > p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem 0;
}

.text {
  font-size: 0.7rem;
  width: 90%;
  margin-top: 0.5rem;
}

.login__btns div button:first-child > p img {
  width: 1.5rem;
}

.login__btns .btn {
  padding: 0.8rem;
  border-radius: 3rem;
  font-size: 0.9rem;
  background-color: var(--color-blue);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 600;
  width: 100%;
}

.login__signin {
  margin-top: 5rem;
  width: 60%;
}

.login__signin > p {
  font-weight: 600;
  font-size: 1.2rem;
}

.login__signin button {
  padding: 0.8rem 3.5rem;
  border-radius: 3rem;
  font-size: 0.9rem;
  width: 100%;
  color: var(--color-blue);
  background-color: #fff;
  outline: none;
  border: 1px solid lightgray;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .login__right {
    flex: 0.5;
  }

  .login__left {
    flex: 0.5;
  }
}

@media screen and (max-width: 1100px) {
  .login__right h1 {
    font-size: 3.5rem;
  }

  .login {
    flex-direction: column-reverse;
  }

  .login__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login__left{
    min-height: fit-content;
  }

  .login__btns .btn,
  .login__btns div button:first-child, .login__signin button {
    width: 70%;
  }

  .login__btns div button:first-child{
    justify-content: center;
  }

  .login__btns div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login__signin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
    .login__btns .btn,
    .login__btns div button:first-child, .login__signin button {
      width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .login__right{
        margin: 1rem;
    }

    .login__right h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    
    .login__right .icon{
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .login__right h3{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 400px) {
    .login__signin > p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .login__right h1{
        font-size: 1.8rem;
    }
}