.trends h3{
    margin-bottom: 1rem;
    padding: 1rem 0 0 1rem;
}

.trend{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    padding: 1rem;
}

.trend:hover{
    background-color: var(--color-lightGrey);
}

.trend span{
    font-size: .8rem;
    color: var(--color-grey2);
}

.trend p{
    font-weight: 500;
    margin: .2rem 0;
}

.trend button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
