.trends{
    margin-bottom: 1rem;
}

.trendsColor{
    background-color: #f7f9f9;
}

.trends h3{
    margin-bottom: 1rem;
    padding: 1rem 0 0 1rem;
}

.trends__link{
    width: 100%;
    cursor: pointer;
    padding: 1rem;
}

.trends__link:hover{
    background-color: var(--color-lightGrey);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.trends__link .links{
    text-decoration: none;
    color: var(--color-blue);
}