.homeFeeds{
  min-height: 100vh;
    flex: .46;
    background-color: #fff;
    border-right: 1px solid var(--color-lightGrey);
    padding-bottom: 4rem;
}

@media screen and (max-width: 1100px){
    .homeFeeds{
        flex: .52;
    }
}

@media screen and (max-width: 820px){
    .homeFeeds{
      flex: .8;
    }
  }

  @media screen and (max-width: 700px){
    .homeFeeds{
      flex: .87;
    }
  }