.homeFeeds{
    flex: .46;
    background-color: #fff;
    border-right: 1px solid var(--color-lightGrey);
}

.homeFeeds__inputField{
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-lightGrey);
}

.homeFeeds__inputField-content{
    display: flex;
    gap: 1rem;
}

.homeFeeds__inputField-content > .icon{
    object-fit: contain;
    height: 50px !important; 
    width: 50px !important;
}

.homeFeeds__inputField-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.homeFeeds__inputField-form > input{
    outline: none;
    border: none;
    padding: 1rem .5rem;
    font-size: 1rem;
}

.homeFeeds__inputField-form > input::placeholder{
    font-size: 1.2rem;
}

.homeFeeds__inputField-form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeFeeds__inputField-form button{
    outline: none;
    border: none;
    background-color: var(--color-lightBlue);
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    color: white;
}

.homeFeeds__inputField-icon{
    color: var(--color-blue);
    cursor: pointer;
    font-size: 2.2rem !important;
    padding: .4rem;
    transition: all .3s ease;
}

.homeFeeds__inputField-icon:hover{
    background-color: rgb(201, 227, 245);
    border-radius: 3rem;
}