.notifications {
  display: flex;
}

.notifications__feed {
  flex: 0.46;
  background-color: #fff;
  border-right: 1px solid var(--color-lightGrey);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1100px){
  .notifications__feed{
    flex: .52;
  }
}


@media screen and (max-width: 820px){
  .notifications__feed{
    flex: .8;
  }
}

@media screen and (max-width: 700px){
  .notifications__feed{
    flex: .87;
  }
}

@media screen and (max-width: 500px){
  .notifications{
    display: flex;
    flex-direction: column-reverse;
  }
}