.trendsbar{
    flex: .31;
}

.trendsbar__trends{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: #fff
}

@media screen and (max-width: 1100px){
    .trendsbar{
        flex: .38;
    }
}

@media screen and (max-width: 820px){
    .trendsbar{
        display: none;
    }
}


