
.explore__who-to-follow {
    background-color: #fff;
    flex: 0.31;
    display: flex;
      justify-content: center;
  }
  
  .explore__follow{
    background-color: var(--color-lightGrey2);
    border-radius: 1rem;
    width: 85%;
    height: fit-content;
    margin-top: 1rem;
  }
  
  .explore__follow > h3{
    padding: 1rem 1rem 0 1rem;
  }
  
  .explore__follow-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    cursor: pointer;
    padding: 1rem;
  }
  
  .explore__follow-div1:hover{
    background-color: var(--color-lightGrey);
  }
  
  .explore__follow-div1 button{
    border-radius: 3rem;
    padding: 0.6rem 1.3rem;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #000;
  }
  
  .explore__follow-div2{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .explore__follow-div2 .avatar{
    width: 50px;
    height: 50px;
  }
  
  .explore__follow-div2 > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .explore__follow-div2 > div > p{
    font-size: .9rem;
  }
  
  .explore__follow-div2 > div > p:first-child{
    font-weight: bold;
  }

  /* MEDIA QUERIES */
@media screen and (max-width: 1100px){
  .explore__who-to-follow{
    flex: .38;
  }
}

@media screen and (max-width: 820px){
  .explore__who-to-follow{
      display: none;
  }
}