.dark{
    background-color: #000;
    color: #fff;
}

/* SIDEBAR */
.dark .sidebar{
    background-color: #000;
    border-right: 1px solid rgba(33, 33, 33, .7);
}

.dark .links{
    color: #fff;
}

.dark .logoutBtn{
    background-color: #000;
}

.dark .logoutBtn{
    box-shadow: 3px 5px 20px rgba(221, 197, 197, 0.15);
}

.dark .sidebar__content:hover, .dark .user__logout:hover{
    background-color:rgba(33, 33, 33, .4);
}

.dark .sidebar__contents{
    background-color: #000;
}

@media screen and (max-width: 500px){
    .dark .sidebar__contents{
        border-top: 1px solid rgba(33, 33, 33, .7);
    }
}

/* Navbar */
.dark .navbar, .dark .notification-nav{
    background-color: rgba(0, 0, 0, 0.85)
}

/* Home */
.dark .homeFeeds, .dark .tweetInput, .dark .tweetInput-form > input{
    background-color: #000;
    color: #fff;
}

.dark .homeFeeds, .dark .explore__trends{
    border-right: 1px solid rgba(33, 33, 33, .7);
}

.dark .tweetInput{
    border-bottom: 1px solid rgba(33, 33, 33, .7);
}

.dark .tweet:hover{
    background-color:rgba(33, 33, 33, .4);
}

/* TRENDS BAR */
.dark .trendsbar__trends{
    background-color: #000;
}

.dark .trends{
    background:rgba(33, 33, 33, .4);
}

.dark .trend:hover{
    background:rgba(33, 33, 33, .4);
}

.dark .tweet__more{
    background-color: #000;
    box-shadow: 3px 5px 20px rgba(221, 197, 197, 0.15);
    color: #fff;
}

.dark .tweet__more li:hover{
    background:rgba(33, 33, 33, .4);
}

.dark .trends__link:hover{
    background:rgba(33, 33, 33, .4);
}

/* EXPLORE */
.dark .explore__trends, .dark .explore__nav{
    background-color: #000;
}

.dark .explore__event{
    border-bottom: 1px solid rgba(33, 33, 33, .7);
}

/* NOTIFICATION */
.dark .notifications__feed{
    background-color: #000;
    border-right: 1px solid rgba(33, 33, 33, .7);
}

.dark .nav-links{
    color: #fff;
}

.dark .bottom-nav-link:hover{
    background:rgba(33, 33, 33, .4);
}

.dark .notification-nav{
    border-bottom: 1px solid rgba(33, 33, 33, .7);
}

/* MENTION */

.dark .mentions__feed{
    background-color: #000;
    border-right: 1px solid rgba(33, 33, 33, .7);
}

/* BOOKMARKS AND PROFILE */
.dark .bookmarks__feeds, .dark .profile__feeds, .dark .trendsPage__trends{
    background-color: #000;
    border-right: 1px solid rgba(33, 33, 33, .7);
}

.dark .profile__details > div:last-child > p > span{
    color: #fff !important;
}

.dark  .profile__div1 button{
    border: 1px solid rgba(33, 33, 33, .7);
    color: #fff;
}

.dark  .profile__div1 button:hover{
    background:rgba(33, 33, 33, .4);
}

.dark .profile__modal{
    background-color: rgba(91, 112, 131, 0.4);
}

.dark .modal__content{
    background-color: #000;
}

.dark .navbar__right button{
    border: 1px solid rgba(33, 33, 33, .7);
}

.dark .profile__image img{
    border: 5px solid rgba(33, 33, 33, .7);
}

/* WHO TO FOLLOW */
.dark .explore__who-to-follow{
    background-color: #000;
}

.dark .explore__follow{
    background:rgba(33, 33, 33, .4);
}

.dark  .explore__follow-div1:hover{
    background:rgba(33, 33, 33, .4);
}

/* SEARCH */
.dark .search{
    background-color: #000;
}

.dark .search div{
    background:rgba(33, 33, 33, .4);
}

.dark .search button > .icon{
    color: #fff;
}

/* TWEET MODAL */
.dark .tweetModal{
    background-color: rgba(91, 112, 131, 0.4);
}

/* LOGIN */
.dark .login__btns div button:first-child{
    color: #fff;
}

.dark .login__signin button{
    background-color: #000;
}

/* SIGN IN AND SIGN UP MODAL */
.dark .signinModal, .dark .signupModal{
    background-color: rgba(91, 112, 131, 0.4);
}

.dark .signinModal__content, .dark .signupModal__content{
    background-color: #000;
}

.dark .google-btn{
    color: #fff;
}

.dark .next-btn{
    border: 1px solid rgba(33, 33, 33, .7);
    color: #fff;
}

.dark .next-btn:hover, .dark .password-btn:hover{
    background-color: rgba(33, 33, 33, .7);
}

.dark .password-btn{
    color: #fff;
}